@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Muli');

html {
  position: relative;
  min-height: 100%;
}

body{
	font-family: 'Muli', sans-serif;
	/* Margin bottom by footer height */
  margin-bottom: 60px;
}

.banner {
	font-family: 'Asap Condensed', sans-serif;
	width: 100%;
	background-image:  	url("https://image.ibb.co/b63qPv/banner.png"),url("https://image.ibb.co/j0atcF/logos.png");
	background-position: left top, right top;
	background-size: contain;
	background-repeat: no-repeat;
	padding:20px;
	padding-left: 10%;
	/* background-color: #cccccc; */

}

.header {
	font-family: 'Asap Condensed', sans-serif;
	background-color: #009ec8;
	margin-bottom: 15px;
	padding: 20px;
	color: #222222;
}

.footer {
	font-family: 'Asap Condensed', sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;

	line-height: 40px; /* Vertically center the text there */
  background-color:#f3db1a;
	color: #222222;
}
